    select{
      width: 200px;
      border: white;
      background: white;
    }
    td{
      text-align: center;
      padding: 8px;
      font-weight: bold;
    }
    table{
      padding: 7px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 220px;
      margin-bottom: 220px;
    }
    .signin{
      background: blue;
      color: white;
    }